        
        a[href^="https://www.google.com"] {
            color:green;
        }

        a[target="_blank"] {
            color:red;
        }
        
        p:hover:nth-child(8) {
            font-style: italic;
        }

        #second-div p:nth-child(even) {
            color:red;
        }
            
        #second-div p:nth-child(odd) {
            color:blue;
        }

        #first-div > p:after {
            content:"NEW";
            color:yellow;
            font-style: italic;
        }